# Project information
site_name: 'Ludwig'
site_description: 'Deep learning toolbox'
site_author: 'Piero Molino'
site_url: 'https://ludwig-ai.github.io/ludwig-docs/'

# Repository
repo_name: 'ludwig-ai/ludwig'
repo_url: 'https://github.com/ludwig-ai/ludwig'
edit_uri: 'https://github.com/ludwig-ai/ludwig-docs/edit/master/src/docs/'

# Copyright
copyright: 'Copyright &copy; 2018 - 2020 Uber Technologies Inc., 2021 Linux Foundation Data & AI'

# Navigation
nav:
  - About: 'index.md'
  - Getting Started:
      - 'Installation': 'getting_started/installation.md'
      - 'Prepare the dataset': 'getting_started/prepare_data.md'
      - 'Train a model': 'getting_started/train.md'
      - 'Evaluate performance': 'getting_started/evaluate.md'
      - 'Serving': 'getting_started/serve.md'
      - 'Distributed training on Ray': 'getting_started/ray.md'
      - 'AutoML and Hyperopt': 'getting_started/hyperopt.md'
  - Examples: 'examples.md'
  - User Guide:
      - 'Command Line Interface': 'user_guide/command_line_interface.md'
      - 'Data Preprocessing': 'user_guide/data_preprocessing.md'
      - 'Data Postprocessing': 'user_guide/data_postprocessing.md'
      - 'Configuration':
        - 'Configuration Intro': 'user_guide/configuration/configuration_intro.md'
        - 'Input Features': 'user_guide/configuration/input_features.md'
        - 'Combiner': 'user_guide/configuration/combiner.md'
        - 'Output Features': 'user_guide/configuration/output_features.md'
        - 'Training': 'user_guide/configuration/training.md'
        - 'Preprocessing': 'user_guide/configuration/preprocessing.md'
        - 'Binary Features': 'user_guide/configuration/binary_features.md'
        - 'Numerical Features': 'user_guide/configuration/numerical_features.md'
        - 'Category Features': 'user_guide/configuration/category_features.md'
        - 'Set Features': 'user_guide/configuration/set_features.md'
        - 'Bag Features': 'user_guide/configuration/bag_features.md'
        - 'Sequence Features': 'user_guide/configuration/sequence_features.md'
        - 'Text Features': 'user_guide/configuration/text_features.md'
        - 'Time Series Features': 'user_guide/configuration/time_series_features.md'
        - 'Audio Features': 'user_guide/configuration/audio_features.md'
        - 'Image Features': 'user_guide/configuration/image_features.md'
        - 'Date Features': 'user_guide/configuration/date_features.md'
        - 'H3 Features': 'user_guide/configuration/h3_features.md'
        - 'Vector Features': 'user_guide/configuration/vector_features.md'
        - 'Combiners': 'user_guide/configuration/combiners.md'
      - 'Distributed Execution Backends': 'user_guide/distributed_execution_backends.md'
      - 'Hyper-parameter optimization': 'user_guide/hyperparameter_optimization.md'
      - 'Programmatic API': 'user_guide/programmatic_api.md'
      - 'Visualizations': 'user_guide/visualizations.md'
      - 'Serving': 'user_guide/serving.md'
      - 'Datasets': 'user_guide/datasets.md'
      - 'Integrations': 'user_guide/integrations.md'
  - Developer Guide:
      - 'Codebase Structure': 'developer_guide/codebase_structure.md'
      - 'Add an Encoder': 'developer_guide/add_an_encoder.md'
      - 'Add a Decoder': 'developer_guide/add_a_decoder.md'
      - 'Add a Feature Type': 'developer_guide/add_a_feature_type.md'
      - 'Hyper-parameter Optimization': 'developer_guide/hyper_parameter_optimization.md'
      - 'Add an Integration': 'developer_guide/add_an_integration.md'
      - 'Add an Dataset': 'developer_guide/add_a_dataset.md'
      - 'Style Guidelines and Tests': 'developer_guide/style_guidelines_and_tests.md'
      - 'Unit Test Design Guidelines': 'developer_guide/unit_test_design_guidelines.md'
  - API:
      - 'LudwigModel': 'api/LudwigModel.md'
      - 'Visualization': 'api/visualization.md'
  - Community: 'community.md'
  - FAQ: 'faq.md'

# Configuration
site_dir: '../docs/'
theme:
  name: 'material'
  language: 'en'
  logo: 'images/ludwig_logo.svg'
  favicon: 'favicon.ico'
  custom_dir: 'custom/'
  palette:
    scheme: 'slate'
    primary: 'grey'
    accent: 'grey'
  features:
    - navigation.tabs

# Customization
extra_css:
  - 'stylesheets/extra.css'
  - 'stylesheets/monokai.css'

#extra_javascript:
#  - https://unpkg.com/mermaid@7.1.2/dist/mermaid.min.js

# Extensions
markdown_extensions:
  - admonition
  - toc:
      permalink: true
      baselevel: 2
  - codehilite:
      guess_lang: false
  - attr_list
  - md_in_html
  - pymdownx.details
  - pymdownx.superfences
  - pymdownx.tabbed:
      alternate_style: true 
#  - pymdownx.superfences:
#      custom_fences:
#        - name: mermaid
#          class: mermaid
#          format: !!python/name:pymdownx.superfences.fence_div_format

extra:
  version:
    provider: mike

plugins:
  - search
  - mike:
      # these fields are all optional; the defaults are as below...
      version_selector: true   # set to false to leave out the version selector
      css_dir: css             # the directory to put the version selector's CSS
      javascript_dir: js       # the directory to put the version selector's JS
      canonical_version: null  # the version for <link rel="canonical">; `null`
                               # uses the version specified via `mike deploy`
